*::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-button{
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 100%;
  cursor: pointer;
  user-select: none;
  position: relative;
}
.icon-button > img{
  height: 100%;
  pointer-events: none;
}
.icon-button::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgb(255 255 255 / 25%);
  transition: height 0.07s;
  transition-timing-function: ease;
}
.icon-button:hover:active::before{
  height: 100%;
}

.top-bar{
  display: flex;
  position: fixed;
  background-color: rgb(0 0 0 / 40%);
  height: 37px;
  width: -webkit-fill-available;
  padding: 0.2em;
  padding-right: 0.6em;
  justify-content: flex-end;
  z-index: 2;
  justify-content: space-between;
}

.tob-bar .top-bar-item{
  display: flex;
}
.top-bar .top-bar-item .icon-button{
  margin-left: 1em;
}

a{
  color: #bd5656;
}

.main-content{
  width: 100%;
  max-width: 570px;
  padding-top: 44px;
}

.main-content .post-info{
  padding: 1em;
  background-color: #1f1f1f;
  box-shadow: 0 0 6px rgb(0 0 0 / 80%);
}

.main-content .title{
  color: rgb(255 255 255);
  font-size: 2em;
}
.main-content .description{
  font-size: 0.9em;
  text-align: left;
  padding: 2em;
  color: rgb(255 255 255 / 68%);
  margin-top: 0.4em;
  padding-top: 0.6em;
}

.input.description{
  white-space: pre;
  overflow-x: auto;
}

.footer{

}

.music-menu{
  user-select: none;
  transition: top 0.1s;
  transition-timing-function: ease;
  position: fixed;
  padding: 1em;
  background-color: #333333;
  width: 100%;
  z-index: 1;
  padding-top: 72px;
  box-shadow: 0 0 20px 0px rgb(0 0 0 / 27%);
  max-height: 82vh;
  display: flex;

}
.tracks-list{
  width: 100%;
  overflow-y: auto;
}
.tracks-list .track{
  display: inline-block;
  text-align: left;
}
.tracks-list .track .track-embedding{

}
.tracks-list .track .track-embedding iframe {
  height: 100%;
  width: 100%;
}

.year-circle{
  margin-top: -1.5em;
  position: relative;
}
.year-circle-view-date{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  user-select: none;
}
.year-circle-canvas{
  width: 100%;
}

.year-circle-view-date-year{
  font-size: 30px;
  color: rgb(255 255 255 / 77%);
}
.year-circle-view-date-month{
  color: rgb(255 255 255 / 77%);
}

input, .input{
  border: 0;
  background-color: #171717;
  outline: none;
}

.slider{
  background-color: #1f1f1f;
  margin: 6px;
  padding: 0.6em;
  height: 21px;
  border: 2px rgb(255 255 255 / 11%) dashed;
  user-select: none;
  cursor: e-resize;
}
.slider > img{
  height: 100%;
  user-select: none;
  pointer-events: none;
}

.buttons-row{
  height: 35px;
  display: flex;
  justify-content: space-around;
  margin: 0.6em;
}

.buttons-row > button{
  background-color: #1f1f1f;
  width: 100%;
  height: 100%;
  margin: 0.2em;
  padding: 0.5em;
}

.button-row-right{
  display: flex;
  height: 30px;
  justify-content: flex-end;
}

.editable-track-field{
  text-align: left;
  margin-bottom: 6px;
  padding: 0.5em;
  background-color: transparent;
  border-bottom: 3px rgb(255 255 255 / 13%) solid;
}

.editable-track-field.embedding-code{
  color: #a5a5a5;
}

.tracks-list .track.edit-mode{
  padding: 1em;
  background-color: #2d2d2d;
  width: calc(100% - 4em);
  margin-bottom: 14px;
}

.label{
  color: rgb(255 255 255 / 21%);
}

/* desktop */
@media only screen and (min-width: 768px) {
  .tracks-list .track{
    display: block;
  }
  .music-menu{
    width: 26vw;
    right: 0;
  }
}